.borderone{border-top: 10px solid yellow;}
.border2{border-style: solid dotted double dashed;}
/* T/R/B/L*/
.border3{border-width: 30px 20px 100px 1px;
  border-style: solid;}
  .marginone {margin-top: 50px;
            border: 5px solid black;}
  .padding{padding: 50px;
       border: 5px solid black;}    
       .inline{display: inline-block;
      border: 3px solid black;
    width: 400px;}

    .block {
      width: 400px;
    border: 1px solid black;} 
.float_left img {
  width: 40%;
  float: left;
  margin-right: 40px;
}     
.clear{clear: both;}   
.float_right  img{width: 40%;
    float: right;
  margin-left: 40px ;}  
 *{margin: 0;
   padding: 0;} 
   .gridone,.gridgap,.gridadd{padding: 20px;
         text-align: center;
        color: white;}
.gridone,.gridgap,.gridadd{display: grid;
  grid-template-columns: auto auto auto;}  
.gridgap{grid-column-gap: 40px;
      grid-row-gap: 30px;
    /*grid-gap:;*/}  
.gridadd1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.gridadd2 {grid-column-start: 2;
   grid-column-end: 4;}
 .relative-parent{border: 1px solid red;
   height: 500px;}   
 .relative{border: 1px solid black;
         height: 200px;
        width: 400px;
      position: relative;
    top: 5%;
    left: 10%;}  
     .absolute-parent{border: 1px solid green;
   height: 500px;
  position: relative;}  
  .absolute{border: 1px solid pink;
       height: 200px;
      width: 400px;
    position: absolute;
  top: 100px;
 right: 50px;}

 .fixed{position: fixed;
top: 100px;
right: 100px;}

.online-font{
  font-family: "Oswald", sans-serif;
  font-weight: ;
  font-style: normal;
}
@font-face{src: url(static/PlaypenSans-Medium.ttf);
       font-family: "play"; }
       .offline-font{font-family: "play";}
