#header {text-align: center;
      color: black;}
body {background-color:palevioletred;}  
#form{width: 40%;
     margin: auto;}    
input[type="text"],input[type="email"],input[type="number"]{width: 40%;
     height: 100%;
    outline: none;
  border-radius: 8px;
 border: 2px solid purple;}
input[type="text"]:focus,input[type="email"]:focus,input[type="email"]:focus{border: 4px solid black;} 
input[type="radio"]:checked+label{color: bisque;
  text-transform: uppercase;}
 input[type="checkbox"]:enabled+label{color: bisque;
font-style: italic;}
input[type="checkbox"]:checked+label{color: aqua;
  font-style: normal;}
  
