*{margin: 0;
  padding: 0;}
  nav {position: fixed;
      top: 0;
    left: 0;
   width: 100%;
   background: white;
  z-index: 1000;}
 .free {text-transform: uppercase;
        text-align: center;
         border: 0px solid;
        background-color: antiquewhite;}  
  #icon{width: 20px;
        float: right;
       margin-top: 20px;
       margin-right: 20px;} 
  .search-bar{float: right;
              margin-top: 20px;
               margin-right: 10px;
              display: flex;
            justify-content: space-between;
            background-color: #f6f6f6;
           border-radius: 30px;} 
  .search-bar button{border: none;
                     background-color: none;
                    cursor: pointer;
                   font-size: 16px;
                  color: #555;} 
  .search-bar input{border: none;
                   outline: none;
                  background-color: transparent;
                 font-size: 14px;
                width: 100%;}  
  .search-bar input:hover{border: 1px solid black;}                                               
.navbar {float: left;}
.navbar li {display: inline-block;
           margin-left: 20px;
           margin-top: 20px;
           }
.navbar li a {text-decoration: none;
              color: black;} 
              .fairy1 {width: 50px;
         margin-left: 90px;}
.navbar li a:hover {color: pink;
                    text-decoration: solid underline plum;} 
.navbar li a :active   {color: #e7304e;}                             
.beautyBG {width: 100%;
          height: 50%;} 
.banner{position: relative;}          
.banner-text{position: absolute;
             top: 45%;
            text-align: center;
          width: 100%;
         font-style: italic;
        text-transform: initial;
       color: #ffff;
      font-size: 25px;}
.banner-text h3 {
                 width: 200px;
                 font-style: normal;
               font-size: 30px;
              margin-left: 40%;}
   .shop{text-decoration: none;
         color: #ffff;
        background-color: #eccfb1;
      border: 2px solid black;
     padding: 5px;
    border-radius: 5px 5px 5px 5px ;
   text-align: center;} 
  .shop:hover{color: black;} 
  .collection-text{text-align: center;
             margin-top: 10px;
            font-size:30px ;
           font-style:italic;}
   .collection{display: flex;
              justify-content: center;
             gap: 30px;}    
   .collection-item img {width: 200px;
                        height: 200px;
                       border-radius: 50%;
                      object-fit: cover;
                      margin-top: 10px;
                    transition: "transform" 0.4s ease;}    
    .collection-item p {margin-top: 10px;
                       font-weight: bold;
                      margin-left: 20px;
                    font-size: 20px;
                   transition: color 0.3s ease;}                             
    .collection-item img:hover{transform: scale(1.1);}
    .collection-item p:hover {color:#c28b5c;}
    .bestseller {display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 12px;}
      .bestseller-item img{ height: 200px;
                           background: #ddd;
                          border-radius: 8px;
                         margin-bottom: 16px;
                        margin-top: 20px;
                        margin-left: 50px;
                       transition: transform 0.25s ease, box-shadow 0.25s ease;}
      .bestseller-item p {font-weight: bold;
                         margin: 8px 0;
                        margin-left: 50px;}
     .Bestseller-text{text-align: center;
               margin-top: 50px;
            font-size:30px ;
           font-style:italic;
           text-decoration: underline;}    
      .bestseller-item {background: #fff;
                       padding: 16px;
                      border-radius: 10px;
                     text-align: center;
                    }   
    .bestseller-item img:hover {transform: scale(1.3);}
    .footer {
                background:antiquewhite ;
                padding: 24px 16px;
                margin-top: 32px;
              }

.footer-content { display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 16px;
                  }

.footer h4 { margin-bottom: 8px;}
.footer ul { list-style: none;
                  padding: 0;}

.footer li {
              margin-bottom: 4.8px;
              font-size: 14.4px; }
.footer input {
                  width: 100%;
                  padding: 6.4px;
                }

.copyright {
  text-align: center;
  margin-top: 16px;
  font-size: 12.8px;
}
.email-bar{   display: flex;
            justify-content: space-between;
            background-color: #f6f6f6;
           border-radius: 30px;}

.icon i {margin-bottom: 10px;
        width: 50px;
      font-size: 28px;}
.SkinCare{display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 40px;
               margin-top: 50px;}
.Skin-text{text-align: center;
               margin-top: 50px;
            font-size:30px ;
           font-style:italic;
           text-decoration: underline;
          margin-top: 100px;} 
 .instok {margin-left: 30px;
         font-size: medium;}                       
.SkinCare-items img{height: 200px;
                           background: #ddd;
                          border-radius: 8px;
                         margin-bottom: 16px;
                        margin-top: 20px;
                        margin-left: 50px;
                       transition: transform 0.25s ease, box-shadow 0.25s ease;
                      }  
.SkinCare-items img:hover{transform: scale(1.3);}                      
.SkinCare-items {background: #fff;
                       padding: 16px;
                      border-radius: 10px;
                     text-align: center;}  
.SkinCare-items p {font-weight: bold;
                         margin: 8px 0;
                        margin-left: 50px;} 
.SkinCare:hover {transform: translateY(-5px);
                 transition: 0.3s;}  
 .add-cart {background: black;
           color: #fff;
           padding: 8px 14px;
           border: none;
          cursor: pointer;} 
.Haircare-item img{height: 200px;
                           background: #ddd;
                          border-radius: 8px;
                         margin-bottom: 16px;
                        margin-top: 20px;
                        margin-left: 50px;
                       transition: transform 0.25s ease, box-shadow 0.25s ease;
                      }  
.Haircare-item img:hover{transform: scale(1.3);}                      
.Haircare-item {background: #fff;
                       padding: 16px;
                      border-radius: 10px;
                     text-align: center;}  
.Haircare-item p {font-weight: bold;
                         margin: 8px 0;
                        margin-left: 50px;} 
.Haircare:hover {transform: translateY(-5px);
                 transition: 0.3s;}  
 .add-cart {background: black;
           color: #fff;
           padding: 8px 14px;
           border: none;
          cursor: pointer;}
.Haircare{display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 40px;
               margin-top: 50px;}  
.Hair-text{text-align: center;
               margin-top: 50px;
            font-size:30px ;
           font-style:italic;
           text-decoration: underline;
          margin-top: 100px;} 
.Bodycare-item img{height: 200px;
                           background: #ddd;
                          border-radius: 8px;
                         margin-bottom: 16px;
                        margin-top: 20px;
                        margin-left: 50px;
                       transition: transform 0.25s ease, box-shadow 0.25s ease;
                      }  
.Bodycare-item img:hover{transform: scale(1.3);}                      
.Bodycare-item {background: #fff;
                       padding: 16px;
                      border-radius: 10px;
                     text-align: center;}  
.Bodycare-item p {font-weight: bold;
                         margin: 8px 0;
                        margin-left: 50px;} 
.Bodycare:hover {transform: translateY(-5px);
                 transition: 0.3s;}  
 .add-cart {background: black;
           color: #fff;
           padding: 8px 14px;
           border: none;
          cursor: pointer;}
.Bodycare{display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 40px;
               margin-top: 50px;}  
.Body-text{text-align: center;
               margin-top: 50px;
            font-size:30px ;
           font-style:italic;
           text-decoration: underline;
          margin-top: 100px;}                                                                                                                                       
 .payment-box {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  font-family: Arial;
  margin-top: 100px;
  margin-left: 500px;
}

.payment-option {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.confirm{background-color: green;
         width: 300px;
          color: #ddd;
         font-weight: bold;}