*{ margin: 0;
padding: 0;}
body{background-color: #fffbef;}
.logo{width: 240px;
height: 80px;
margin-top: 10px;
margin-left: 80px;}
.navbar{float: right; }
.navbar li{display: inline-block;
           margin-top: 40px;
          margin-right: 30px;}
.navbar li a{text-decoration: none;
               color: black;
               font-size: 20px;}  
.book { border-radius: 5px;
      background-color: #2d3892;
    padding: 10px 20px;
   color: #fff !important;}    
 .book:hover {background-color: #fff;
             color: #2d3892 !important;
             border: 1px solid #2d3892 ; } 
  .nav{box-shadow: 15px 10px 30  px rgb(17, 15, 15);}                         
.banner{width:100%;}